* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: var(--black);
	background: #F5F6F8;
	font-family: var(--font-family);
}

:root {
	--black: #3B434E;
	--grey-light: #EBEBEB;
	--white: white;
	--primary: #7653FC;
	--primary-hover: #4f29e0;
	--red: #FC8360;
	--green: #1DC37E;
	--green-light: #C8F8E4;
	--font-family: 'Noto Sans', sans-serif;
}
